{% extends 'base.html' %}
<head>
  <title>Stock Details</title>
  <style>
    .btn_div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
  </style>
</head>

{% block body %}
<p><center><img src="/static/Logo.png" alt="BTrade Logo should be here" height="25%" width="25%"></center></p>

<div class="container">
  <h1>Stock Name: {{ stock.curr_type }}</h1>
  <div ng-app="app" ng-controller="LineCtrl">
  <canvas id="price" class="chart chart-line" chart-data="price_data" chart-labels="price_labels" chart-legend="true" chart-series="series" chart-options="options" chart-colors="colors"></canvas>
</div>

  <script>
    angular.module("app", ["chart.js"]).controller("LineCtrl", function($scope, $http, $filter, API) {
      'use strict';
      $scope.price_data = [];
      $scope.price_labels = [];
      var url = 'https://www.coincap.io/history/' + '{{ stock.curr_type }}';
      API.getData(url).then(function(values) {
          angular.forEach(values.price, function(value, key) {
              $scope.price_data.push(value[1]);
              $scope.price_labels.push($filter('date')(value[0], 'medium'));
          });
      });

      $scope.series = [
          'Price'
      ];
      $scope.colors = ['#0000ff'];
      $scope.options = {
          animation: false,
          responsive: true,
          tooltipEvents: [
              'mousemove',
              'touchstart',
              'touchmove'
          ],
          elements: {
              point: {
                  radius: 0
              },
              line: {
                  fill: false
              }
          },
          scales: {
              yAxes: [{
                  display: true
              }],
              xAxes: [{
                  display: false
              }]
          }
      };
  }).factory('API', function($http) {
      'use strict';
      var coins = [];
      return {
          getData: function(selection, $url, $log) {
              var _url = selection;
              if (typeof $url !== 'undefined') {
                  _url += $url;
              }
              return $http({
                  method: 'GET',
                  url: _url
              }).then(function(response) {
                  coins = response.data;
                  return coins;
              }, function error(response) {
                  $log.log(response);
                  return false;
              });
          }
      };
  }).filter('numberWithCommas', function() {
      'use strict';
      return function(x) {
          var parts = x.toString().split(".");
          parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          return parts.join(".");
      };
  });
  </script>
  <table>
    <tr>
      <tr><th>Stock Price: {{ stock.price }} US Dollars</th></tr>
      <tr><th>Last Update: {{ stock.date_entered }}</th></tr>
    </tr>
  </table>
  <button type="buystock" onclick="location.href='/stocks/buystock/{{ stock.pk }}/'">Buy Stock</button>
  <button type="sellstock" onclick="location.href='/stocks/sellstock/{{ stock.pk }}/'">Sell Stock</button>

  {% if savedstock == None %}
    <button type="savestock" onclick="location.href='/stocks/savestock/{{ stock.pk }}'">Watch Stock</button>
  {% else %}
    <button type="savestock" onclick="location.href='/stocks/unsavestock/{{ stock.pk }}'">Stop Watching Stock</button>
  {% endif%}
  <h6>All data is made up, highly inaccurate and manually entered.</h6>
</div>
{% endblock %}
