{% extends 'base.html' %}
<head>
  <title>Stock Details</title>
  <style>
    .btn_div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
  </style>
</head>

{% block body %}
<p><center><img src="/static/Logo.png" alt="BTrade Logo should be here" height="25%" width="25%"></center></p>

<div class="container">
  <h1>Stock Name: {{ coin_type }}</h1>
  <table class="table table-hover">
  <thead>
   <tr>
     <th>Price</th>
     <th>24 Hour Volume</th>
     <th>Market Cap</th>
     <th>Time</th>
   </tr>
  </thead>

  <tbody>
  {% for entry in history_table %}

   <tr>
     <td>${{ entry.price }}</td>
     <td>${{ entry.volume }}</td>
     <td>${{ entry.mktcap }}</td>
     <td>{{ entry.time }}</td>
   </tr>

  {% endfor %}
  </tbody>
  </table>


  <button type="buystock" onclick="location.href='/stocks/buystock/{{ coin_type }}/'">Buy Stock</button>
  <button type="sellstock" onclick="location.href='/stocks/sellstock/{{ coin_type }}/'">Sell Stock</button>

  {% if savedstock == None %}
    <button type="savestock" onclick="location.href='/stocks/savestock/{{ coin_type }}'">Watch Stock</button>
  {% else %}
    <button type="savestock" onclick="location.href='/stocks/unsavestock/{{ coin_type }}'">Stop Watching Stock</button>
  {% endif%}
  <h6>All data is made up, highly inaccurate and manually entered.</h6>
</div>
{% endblock %}
