{% extends 'base.html' %}
{% load humanize %}

{% block head %}
  <meta charset="utf-8">
  <title>Stocks</title>
  <style>
      table {
      font-family: arial, sans-serif;
      height: 100%;
      width: 100%;
      }

      td, th {
        text-align: center;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
  </style>
{% endblock %}


{% block body %}
<p><center><img src="/static/Logo.png" alt="BTrade Logo should be here" height="25%" width="25%"></center></p>
<div class="container">
  <h1>Coins</h1>
  <table class="table table-hover">
  <thead>
   <tr>
     <th></th>
     <th>Coin</th>
     <th>Price</th>
     <th>Change/24 Hours</th>
     <th>Volume/24 Hours</th>
     <th>Market Cap</th>
     <!--<th>Last Update</th>-->
   </tr>
  </thead>

  <tbody>
  {% for coin in price_table %}
  <tr>
  {% if coin.coin_type == hot_table.0.coin_type %}
     <td><img src="/static/litFam.png" alt="Hot" style="width:20px; height:auto;"></td>
  {% elif coin.coin_type == hot_table.40.coin_type %}
     <td><img src="/static/chocolate.png" alt="Not" style="width:19px; height:auto;"></td>
  {% elif coin.change24hour > 0 %}
     <td><img src="/static/up.png" alt="Rising" style="width:13px; height:auto;"></td>
  {% else %}
     <td><img src="/static/down.png" alt="Falling" style="width:13px; height:auto;"></td>
  {% endif %}
     <td><a href="stockdetail/{{ coin.coin_type }}/"  title="Purchase {{ coin.coin_type }}">{{ coin.coin_type }}</a></td>
     <td>${{ coin.price|intcomma }}</td>
     {% if coin.change24hour > 0 %}
     <td style="color:#00b100">{{ coin.change24hour|floatformat:4 }}%</td>
     {% else %}
     <td style="color:#FF0000">{{ coin.change24hour|floatformat:4 }}%</td>
     {% endif %}
     <td>${{ coin.volume|intcomma }}</td>
     <td>${{ coin.mktcap|intcomma }}</td>
     <!--<td>{{ coin.time|naturaltime }}</td>-->
   </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
{% endblock%}
<!DOCTYPE html>
