{% extends 'base.html' %}
{% load humanize %}

{% block head %}
  <meta charset="utf-8">
  <title>Coin Details</title>
  <style>
    .btn_div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
  </style>
{% endblock %}


{% block body %}
<p><center><img src="/static/Logo.png" alt="BTrade Logo should be here" height="25%" width="25%"></center></p>

<div class="container">

  <div ng-app="app" ng-controller="LineCtrl">
  <canvas id="price"
          height="20"
          width="80"
          class="chart chart-line"
          chart-data="price_data"
          chart-labels="price_labels"
          chart-legend="true"
          chart-series="series"
          chart-options="options"
          chart-colors="colors">
  </canvas>
  </div>

  <script>
    angular.module("app", ["chart.js"]).controller("LineCtrl", function($scope, $http, $filter, API) {
      'use strict';
      $scope.price_data = [];
      $scope.price_labels = [];
      API.getData('https://www.coincap.io/history/1day/{{ coin_type }}').then(function(values) {
          angular.forEach(values.price, function(value, key) {
              $scope.price_data.push(value[1]);
              $scope.price_labels.push($filter('date')(value[0], 'medium'));
          });
      });

      $scope.series = [
          'Price'
      ];
      $scope.colors = ['#6495ed'];
      $scope.options = {
          animation: false,
          responsive: true,
          tooltipEvents: [
              'mousemove',
              'touchstart',
              'touchmove'
          ],
          elements: {
              point: {
                  radius: 0
              },
              line: {
                  fill: true
              }
          },
          scales: {
              yAxes: [{
                  display: true
              }],
              xAxes: [{
                  display: false
              }]
          }
      };
  }).factory('API', function($http) {
      'use strict';
      var coins = [];
      return {
          getData: function(selection, $url, $log) {
              var _url = selection;
              if (typeof $url !== 'undefined') {
                  _url += $url;
              }
              return $http({
                  method: 'GET',
                  url: _url
              }).then(function(response) {
                  coins = response.data;
                  return coins;
              }, function error(response) {
                  $log.log(response);
                  return false;
              });
          }
      };
  }).filter('numberWithCommas', function() {
      'use strict';
      return function(x) {
          var parts = x.toString().split(".");
          parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          return parts.join(".");
      };
  });
  </script>
  <h8> *Graph brought to you by coincap</h8>

  <h1>Coin: {{ coin_type }}</h1>
  <h2>Current Holdings: {{ units|intcomma }}</h2>
  <table class="table table-hover">
  <thead>
   <tr>
     <th>Price</th>
     <th>Change/24 Hours</th>
     <th>Volume/24 Hours</th>
     <th>Market Cap</th>
     <th>Time</th>
   </tr>
  </thead>
  <tbody>
   <tr>
     {% for entry in current_price %}
     <td>${{ entry.price|intcomma }}</td>
     <td>{{ entry.change24hour|intcomma }}%</td>
     <td>${{ entry.volume|intcomma }}</td>
     <td>${{ entry.mktcap|intcomma }}</td>
     <td>{{ entry.time|naturaltime}}</td>
     {% endfor %}
   </tr>
   <tr>
     {% for entry in price_15_minutes %}
     <td>${{ entry.price|intcomma }}</td>
     <td>{{ entry.change24hour|intcomma }}%</td>
     <td>${{ entry.volume|intcomma }}</td>
     <td>${{ entry.mktcap|intcomma }}</td>
     <td>{{ entry.time|naturaltime}}</td>
     {% endfor %}
   </tr>
   <tr>
     {% for entry in price_30_minutes %}
     <td>${{ entry.price|intcomma }}</td>
     <td>{{ entry.change24hour|intcomma }}%</td>
     <td>${{ entry.volume|intcomma }}</td>
     <td>${{ entry.mktcap|intcomma }}</td>
     <td>{{ entry.time|naturaltime}}</td>
     {% endfor %}
   </tr>
   <tr>
     {% for entry in price_60_minutes %}
     <td>${{ entry.price|intcomma }}</td>
     <td>{{ entry.change24hour|intcomma }}%</td>
     <td>${{ entry.volume|intcomma }}</td>
     <td>${{ entry.mktcap|intcomma }}</td>
     <td>{{ entry.time|naturaltime}}</td>
     {% endfor %}
   </tr>
   <tr>
     {% for entry in price_6_hours %}
     <td>${{ entry.price|intcomma }}</td>
     <td>{{ entry.change24hour|intcomma }}%</td>
     <td>${{ entry.volume|intcomma }}</td>
     <td>${{ entry.mktcap|intcomma }}</td>
     <td>{{ entry.time|naturaltime}}</td>
     {% endfor %}
   </tr>
   <tr>
     {% for entry in price_12_hours %}
     <td>${{ entry.price|intcomma }}</td>
     <td>{{ entry.change24hour|intcomma }}%</td>
     <td>${{ entry.volume|intcomma }}</td>
     <td>${{ entry.mktcap|intcomma }}</td>
     <td>{{ entry.time|naturaltime}}</td>
     {% endfor %}
   </tr>
   <tr>
     {% for entry in price_24_hours %}
     <td>${{ entry.price|intcomma }}</td>
     <td>{{ entry.change24hour|intcomma }}%</td>
     <td>${{ entry.volume|intcomma }}</td>
     <td>${{ entry.mktcap|intcomma }}</td>
     <td>{{ entry.time|naturaltime}}</td>
     {% endfor %}
   </tr>
  </tbody>
  </table>


  <!-- <table class="table table-hover">
  <thead>
   <tr>
     <th>Price</th>
     <th>24 Hour Volume</th>
     <th>Market Cap</th>
     <th>Time</th>
   </tr>
  </thead>

  <tbody>
  {% for entry in history_table %}

   <tr>
     <td>${{ entry.price|intcomma }}</td>
     <td>${{ entry.volume|intcomma }}</td>
     <td>${{ entry.mktcap|intcomma }}</td>
     <td>{{ entry.time|naturaltime}}</td>
   </tr>

  {% endfor %}
  </tbody>
  </table> -->


  <button type="buystock" onclick="location.href='/stocks/buystock/{{ coin_type }}/'">Buy Coin</button>
  <button type="sellstock" onclick="location.href='/stocks/sellstock/{{ coin_type }}/'">Sell Coin</button>

  {% if savedstock == None %}
    <button type="savestock" onclick="location.href='/stocks/savestock/{{ coin_type }}'">Watch Coin</button>
    {{ savedstock }}
  {% else %}
    <button type="savestock" onclick="location.href='/stocks/unsavestock/{{ coin_type }}'">Stop Watching Coin</button>
  {% endif%}
</div>
{% endblock %}
