{% extends 'base.html' %}
{% load humanize %}

<head>
  <title>Trending Coins</title>
  <style>
    .btn_div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
  </style>
</head>

{% block body %}
<p><center><img src="/static/Logo.png" alt="BTrade Logo should be here" height="25%" width="25%"></center></p>

<div class="container">
  <table class="table table-hover">
  <thead>
   <tr>
     <th>Coin</th>
     <th>Price</th>
     <th>Change in 24 Hours</th>
     <th>24 Hour Volume</th>
     <th>Market Cap</th>
     <th>Time</th>
   </tr>
  </thead>

  <tbody>
  {% for entry in trending_table %}

   <tr>
     <td><a href="../../stocks/stockdetail/{{ entry.coin_type }}/" title="Purchase {{entry.coin_type}}">{{ entry.coin_type }}</a></td>
     <td>${{ entry.price|intcomma }}</td>
     {% if entry.change24hour > 0 %}
     <td style="color:#00FF00">${{ entry.change24hour|floatformat:4 }}</td>
     {% else %}
     <td style="color:#FF0000">${{ entry.change24hour|floatformat:4 }}</td>
     {% endif %}
     <td>${{ entry.volume|intcomma }}</td>
     <td>${{ entry.mktcap|intcomma }}</td>
     <td>{{ entry.time|naturaltime}}</td>
   </tr>

  {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}
