<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      .navbar-inverse {
        background-color: gray;
      }
      .nav.navbar-nav.navbar-right li a{
        color: blue;
      }
    </style>
    {% block head %}
      <title>Base</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">
    <center>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <a class="navbar-left" href="/account/"><img src="/static/Logo.png" height="10%" width="10%" align="left"></a>
          {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/account/">Home</a></li>
              <li><a href="/leaderboard/">Leaderboard</a></li>
              <li><a href="/account/profile">Profile</a></li>
              <li><a href="/account/change-password">Change Password</a></li>
              <li><a href="/account/logout">Logout</a></li>
            </ul>
          {% else %}
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/account/login">Login</a></li>
              <li><a href="/account/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            </ul>
          {% endif %}
        </div>
      </nav>
    </div>
    {% block body %}
      <h1>Base</h1>
    {% endblock %}

  </body>
</html>
