<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico">
   <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.1.1/angular-chart.min.js"></script>

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <!-- <div class="container">
    <center>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
           {% load static %}
          <a class="navbar-left" href="/account/"><img src="/static/Logo.png" height="10%" width="10%" align="left"><img src="{% static '/HTML/css/litFam2.png' %}" alt="Hot" style="width:20px; height:auto;"></a>
          {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/account/">Home</a></li>
              <li><a href="/stocks/">Coin List</a></li>

              <li><a href="/stocks/trending">Trending</a></li>
              <li><a href="/account/profile/">Account</a></li>
              <li><a href="/leaderboard/">Leaderboard</a></li>
              <li><a href="/account/faq/">FAQ/Help</a></li>
              <li><a href="/account/logout/">Logout</a></li>
            </ul>
          {% else %}
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/account/login/">Login</a></li>
              <li><a href="/account/register/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            </ul>
          {% endif %}
        </div>
      </nav>
    </div> -->



<head>
<title>Btrade Trading Sim</title>
{% load static %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static '/HTML/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static '/HTML/css/bootstrap-responsive.min.css' %}" />
<link rel="stylesheet" href="{% static '/HTML/css/fullcalendar.css' %}" />
<link rel="stylesheet" href="{% static '/HTML/css/maruti-style.css' %}" />
<link rel="stylesheet" href="{% static '/HTML/css/maruti-media.css' %}" class="skin-color" />
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">Btrade</a></h1>
</div>
<!--close-Header-part-->

<!--top-Header-messaages-->
<div class="btn-group rightzero"> <a class="top_message tip-left" title="Manage Files"><i class="icon-file"></i></a> <a class="top_message tip-bottom" title="Manage Users"><i class="icon-user"></i></a> <a class="top_message tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a> <a class="top_message tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a> </div>
<!--close-top-Header-messaages-->

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li class="" ><a title="" href="/account/profile/"><i class="icon icon-user"></i> <span class="text">Account</span></a></li>
    <li class="" ><a title="" href="/account/faq/"><i class="icon icon-question-sign"></i> <span class="text">FAQ</span></a></li>
    <li class=""><a title="" href="/account/info/"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
    <li class=""><a title="" href="/account/logout/"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>

<!--close-top-Header-menu-->

<div class="navbar" >
  <div class="navbar-inner">
    <a class="brand" href="/account/"><i class="icon icon-home"></i> Dashboard</a>
    <ul class="nav">
      <li><a href="/stocks/"><i class="icon icon-th"></i> <span>Coin List</span></a> </li>
      <li><a href="/stocks/trending"><i class="icon icon-signal"></i> <span>Trending</span></a></li>
      <li><a href="/leaderboard/"><i class="icon icon-th-list"></i> <span>Leaderboard</span></a></li>
    </ul>
  </div>
</div>

</div>
</div>

<script src="{% static '/HTML/js/excanvas.min.js' %}"></script>
<script src="{% static '/HTML/js/jquery.min.js' %}"></script>
<script src="{% static '/HTML/js/jquery.ui.custom.js' %}"></script>
<script src="{% static '/HTML/js/bootstrap.min.js' %}"></script>
<script src="{% static '/HTML/js/jquery.flot.min.js' %}"></script>
<script src="{% static '/HTML/js/jquery.flot.resize.min.js' %}"></script>
<script src="{% static '/HTML/js/jquery.peity.min.js' %}"></script>
<script src="{% static '/HTML/js/fullcalendar.min.js' %}"></script>
<script src="{% static '/HTML/js/maruti.js' %}"></script>
<script src="{% static '/HTML/js/maruti.dashboard.js' %}"></script>
<script src="{% static '/HTML/js/maruti.chat.js' %}"></script>


<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {

          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();
          }
          // else, send page to designated URL
          else {
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>

</html>
    {% block body %}
    {% endblock %}


  </body>
  <div class="row-fluid">
    <div id="footer" class="span12">&copy; 2017 ProjectBtrade All Rights Reserved</a> </div>
  </div>
