
<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% block head %}
	<head>
		<style>
			p {
				font-size:20px;
				padding-left: 10px;
			}
			.title {
				font-size: 50px;
			}
		</style>
	</head>	
	{% endblock %}

	{% block body %}
	<div class="container">
  		<div align="center"><img src="boughtStock.png" alt="Question face" height="125" width="125"><h2>Frequent Asked Questions/Help</h2></div>
	<body>
		<ol>
			<li><h3>What is Btrade?</h3></li>
			<p>
				Btrade is a cryptocurrency simulation website.
			</p>
			<li><h3>What is the purpose of Btrade?</h3></li>
			<p>
				Btrade was created to provide novices with a platform that teaches how to trade without damaging your wallet. You 
				learn the ins and outs of trading without using your own money.
			</p>
			<li><h3>Who created Btrade?</h3></li>
			<p>
				Btrade was created by a group of students called BrokerTogether, consisting of Chandler Ortman, Joseph Price, 
				Gabriella Johnson, Felix Benavides, and Fabian De Soto.
			</p>
			<li><h3>Do I have to use my own money for this website?</h3></li>
			<p>
				No, the money used in this website is all made up and does not affect your
				financial standing.
			</p>
			<li><h3>How much money will be allocated to me when I sign up?</h3></li>
			<p>
				When you sign up, you will be given $10,000 to start off with.
			</p>
			<li><h3>What happens when I run out of money?</h3></li>
			<p>
				You will not receive anymore money, to get more money you would have to sell your assets.
			</p>
			<li><h3>I need to change my profile info. Where do I go?</h3></li>
			<p>
				Go here to edit profile information.
			</p>
			<li><h3>What is are the graphs for?</h3></li>
			<p>
				The graphs provide a visual representation of the currencies past history.
				The graphs are able to provide the user with some valuable information about whether 
				they should buy or sell.
			</p>
			<li><h3>Can anyone see my information?</h3></li>
			<p>
				No, the only people who can see your information are the system admin and yourself.
			</p>
			<li><h3>This website is confusing. Is there a tutorial or something to help?</h3></li>
			<p>	
				On any given page, there is a blue question mark in the top right corner. Click the button and it
				will explain all the aspects on that page.
			</p>
		</ol>
	</body>
	</div>
	{% endblock %}
</html>