{% block head %}
  <style>
    table {
        font-family: arial, sans-serif;
        height: 100%;
        width: 100%;
        text-align: center;

    }

    td, th {
        border: 1px solid blue;
        border-radius: 8px;
        box-shadow: 10px 10px 5px grey;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }

    img {
      height: 10%;
      width: 10%;
    }
  </style>
	<p> <img src="/static/Logo.png" alt="BTrade Logo should be here" align ="left">
    <h1><center>Welcome Back, {{ user.first_name }}!</h1>
    <a href="/logout"><h3 align="right">Logout</h3></a></p>
{% endblock %}

{% block body %}
  	<table>
  	<tr>
    	<th><a href="/account/profile/"><h2> {{user.first_name}}'s Profile</h2></a></th>
    	<th><a href="/stocks/"><h2>View Stocks Here</h2></a></th>
    	<th><h2>Interactive Tutorial</h2></th>
    	<th><a href="/leaderboard/"><h2>Global Leaderboard</h2></a></th>
  	</tr>
  	<tr>
    	<th><a href="/stocks/stockdetail/{{ stock1.stock_curr_type }}"><h2> {{ stock1.stock_curr_type }}</h2></a></th>
    	<td><a href="/stocks/stockdetail/{{ stock2.stock_curr_type }}"><h2> {{ stock2.stock_curr_type }}</h2></a></td>
    	<td><a href="/stocks/stockdetail/{{ stock3.stock_curr_type }}"><h2> {{ stock3.stock_curr_type }}</h2></a></td>
    	<td><h2>Trending Stocks</h2></td>
  	</tr>
  	<tr>
    	<td>
        {% if saved1 == null %}
          <h2>No Stocks Saved</h2>
        {% endif %}
        <a href="/stocks/stockdetail/{{ saved1.curr_type }}">
          <h2>{{ saved1.curr_type }}</h2>
        <a/>
      </td>

    	<td>
        {% if saved2 == null %}
          <h2>No Stocks Saved</h2>
        {% endif %}
        <a href="/stocks/stockdetail/{{ saved2.stock_curr_type }}">
          <h2>{{ saved2.stock_curr_type }}</h2>
        <a/>
      </td>

    	<td>
        {% if saved3 == null %}
          <h2>No Stocks Saved</h2>
        {%endif%}
        <a href="/stocks/stockdetail/{{ saved3.stock_curr_type }}">
          <h2>{{ saved3.stock_curr_type }}</h2>
        <a/>
      </td>
      
    	<th><a href="/account/info/"><h2>Settings</h2></a></th>
  	</tr>
	</table>
{% endblock %}
