{% extends 'base.html' %}
{% load humanize %}

{% block head %}
  <!-- <style>
        button {
        float: right;
        background-color: blue;
        border: none;
        color: white;
        bottom: 205px;
        border-radius: 6px;
        border: 2px solid gray;
        font-size: 30px;
        text-align: center;
        }
        .button:hover {
          background-color: orange;
          color: white;
          box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
        .button:active {
          background-color: #3e8e41;
          box-shadow: 0 5px #666;
          transform: translateY(4px);
        }
        .wrapper {
        	text-align: center;
        }
        p {
          font-size: 30px;
        }
  </style> -->
  <title>User Information</title>
{% endblock %}

{% block body %}
<div class="container">
  <center><h1>User Information</h1></center>
  <!-- <p style="text-align:left;">
    <span style="float:right;"><a href="/account/change-password/">Change Password</a></span>
  </p> -->
  <h3> <b>Username:</b> {{ user }} </h3>
  <h3> <b>First Name:</b> {{ user.first_name }} </h3>
  <h3> <b>Last Name:</b> {{ user.last_name }} </h3>
  <h3> <b>Email:</b> {{ user.email }} </h3>
  <h3> <b>Account Balance:</b> ${{ user.userprofile.currency|intcomma }} USD</h3>
<center><button class="button" onclick="location.href='/account/profile/edit'">Edit Info</button>&nbsp;&nbsp;&nbsp;&nbsp;
<button class="button" onclick="location.href='/account/change-password/'">Change Password</button></center>

<br>
</div>
{% endblock %}
