{% extends 'base.html' %}

{% block head %}
  <style>
        button {
        position: absolute;
        background-color: blue;
        border: none;
        color: white;
        bottom: 205px;
        border-radius: 6px;
        border: 2px solid gray;
        font-size: 30px;
        text-align: center;
        }
        .button:hover {
          background-color: orange;
          color: white;
          box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
        .button:active {
          background-color: #3e8e41;
          box-shadow: 0 5px #666;
          transform: translateY(4px);
        }
        .wrapper {
        	text-align: center;
        }
        p {
          font-size: 30px;
        }
  </style>
  <title>User Information</title>
{% endblock %}

{% block body %}
<h1>INFO PAGE</h1>
<div class="container">
  <center><h1>User Information</h1></center>
  <p> Username: {{ user }} </p>
  <p> First Name: {{ user.first_name }} </p>
  <p> Last Name: {{ user.last_name }} </p>
  <p> Email: {{ user.email }} </p>
  <p> Currency: {{ user.userprofile.currency }} USD</p>
</div>
<div class="wrapper">
  <button class="button" onclick="location.href='/account/profile/edit'">Edit Info</button>
</div>
{% endblock %}
